server/event-compat.o
server/ocd
server/*.kate-swp
clients/c/*.kate-swp
clients/c/libopencluster.o
clients/c/libopencluster.so.1.0.1
gamut/c/gamut
misc/hash-test
misc/hashtest.class
docs/.*.kate-swp
misc/btree
server/queue.o
migration-test
server/ocd.debug
server/a-logs-*
server/b-logs-*
utils/oc_get
utils/oc_set
*.class
products/opencluster-legacy/clients/c/libopencluster.o
products/opencluster-legacy/clients/c/libopencluster.so.1.0.1
products/opencluster-legacy/conninfo/tools/conninfo_get
products/opencluster-legacy/conninfo/tools/conninfo_pack
products/opencluster-legacy/conninfo/tools/conninfo_set
products/opencluster-legacy/server/*.o
