server/event-compat.o
server/ocd
server/*.kate-swp
clients/c/*.kate-swp
clients/c/libopencluster.o
clients/c/libopencluster.so.1.0.1
gamut/c/gamut
misc/hash-test
misc/hashtest.class
docs/.*.kate-swp
misc/btree
server/queue.o
migration-test
server/ocd.debug
server/*.o
server/a-logs-*
server/b-logs-*
utils/oc_get
utils/oc_set
*.class
conninfo/lib/libconninfo.o
conninfo/lib/libconninfo.so.1.0.1

